html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 20px;
  line-height: 36px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: #000000;
  font-weight: 400;

  background-color: #ffffff;

  margin: 0;
  padding: 0;
}

.visibility-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  position: relative;
  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
}
.main-header {
  padding-top: 40px;
}
.main-header h1 {
  margin: 0;
}
.main-logo {
  position: absolute;

  top: -18px;
  left: 78px;
}
.main-logo a:focus,
.main-logo a:hover {
  opacity: 0.6;
}
.main-logo a:active {
  opacity: 0.3;
}
.header-wrapper {
  min-height: 185px;

  background-color: #f7e296;

  padding-top: 33px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 25px;
}
.header-wrapper .top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 23px;
}
.header-wrapper .search {
  position: relative;
}
.search p {
  position: relative;

  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  margin: 0;
}
.search p:nth-of-type(1)::before {
  position: absolute;

  content: '';

  bottom: 16px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url('../img/svg/search.svg');
}
.search input[name='search'] {
  width: 355px;
  height: 50px;

  border: none;

  background-color: transparent;

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;

  outline: none;

  padding: 0;
  padding-left: 40px;
}
.search input[type='search']:focus {
  border-bottom: 2px solid black;
}
input[type='search']::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
input[type='search']::-moz-placeholder          {
  color: rgba(0,0,0,0.3);
  }/* Firefox 19+ */
input[type='search']:-moz-placeholder           {
  color: rgba(0,0,0,0.3);
  }/* Firefox 18- */
input[type='search']:-ms-input-placeholder      {
  color: rgba(0,0,0,0.3);
}

input[type='search']:hover::-webkit-input-placeholder {
  color: rgba(0,0,0,0.6);
}
input[type='search']:hover::-moz-placeholder          {
  color: rgba(0,0,0,0.6);
  }/* Firefox 19+ */
input[type='search']:hover:-moz-placeholder           {
  color: rgba(0,0,0,0.6);
  }/* Firefox 18- */
input[type='search']:hover:-ms-input-placeholder      {
  color: rgba(0,0,0,0.6);
}

input[type='search']:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,1);
}
input[type='search']:focus::-moz-placeholder          {
  color: rgba(0,0,0,1);
  }/* Firefox 19+ */
input[type='search']:focus:-moz-placeholder           {
  color: rgba(0,0,0,1);
  }/* Firefox 18- */
input[type='search']:focus:-ms-input-placeholder      {
  color: rgba(0,0,0,1);
}
.search .search-result {
  display: none;

  min-width: 85px;
  min-height: 50px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;

  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  word-break: break-all;

  margin: 0;
  padding: 5px;
}
.search input[type='search']:focus ~ .search-result,
.search input[type='search'] ~ .search-result:active {
  display: inline-block;
  vertical-align: inherit;
}
.search .search-result:focus,
.search .search-result:hover {
  color: #ffffff;

  background-color: #000000;
  border: none;
}
.search .search-result:active {
  color: rgba(255,255,255,0.3);

  background-color: #000000;
  border: none;
}
.header-wrapper .user-block {
  width: 500px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  list-style: none;

  margin: 0;
  padding: 0;
}
.header-wrapper .login-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  width: 220px;

  list-style: none;

  margin: 0;
  padding: 0;
}
.user-block li {
  line-height: 15px;

  padding-left: 26px;
}
.login-block li {
  padding-left: 0;
  margin-right: 20px;
}
.login-block li:last-child {
  margin-right: 0;
}
.user-block a {
  position: relative;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  color: #000000;

  text-decoration: none;
}
.user-block .login::before {
  position: absolute;

  content: '';

  left: -25px;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 13px;
  height: 12px;

  background-image: url('../img/svg/user.svg');
}
.user-block .compare::before {
  position: absolute;

  content: '';

  left: -22px;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 10px;
  height: 10px;

  background-image: url('../img/svg/compare.svg');
}
.user-block .cart::before {
  position: absolute;

  content: '';

  left: -23px;
  top: 45%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 12px;
  height: 12px;

  background-image: url('../img/svg/cart.svg');
}
.user-block a:focus,
.user-block a:hover {
  opacity: 0.6;
}
.user-block a:active {
  opacity: 0.3;
}
.main-navigation {
}
.main-navigation .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 0;
}
.navigation-list li:nth-of-type(3n+2) {
  margin-left: 295px;
}
.navigation-list li:nth-of-type(3n+5) {
  margin-left: 540px;
}
.products-catalog li:nth-of-type(3n+2) {
  margin-left: 0;
}
.products-catalog li:nth-of-type(3n+5) {
  margin-left: 0;
}
.navigation-list li:nth-of-type(3n+3) {
  margin-left: 40px;
}
.main-catalog li:nth-of-type(3n+3) {
  margin-left: 0;
}
.navigation-list li:nth-of-type(3n+4) {
  margin-left: auto;
}
.main-catalog li:nth-of-type(3n+4) {
  margin-left: 0;
}
.navigation-list a {
  position: relative;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 3px;

  text-transform: uppercase;
  text-decoration: none;
}
.navigation-list .plus {
  padding-right: 35px;
}
.navigation-list .plus::before {
  position: absolute;

  content: '';

  top: 50%;
  right: 0;
  /*right: -35px;*/

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 16px;
  height: 16px;

  background-image: url('../img/svg/plus.svg');
  opacity: 0.3;
}
.navigation-list a:focus,
.navigation-list a:hover {
  color: rgba(0,0,0,0.6)
}
.navigation-list a:active {
  color: rgba(0,0,0,0.3)
}
.navigation-list .main-catalog {
  display: none;

  position: absolute;

  width: 1160px;

  list-style: none;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  background-color: #f7e296;

  margin-top: -10px;
  margin-left: -60px;
  padding: 0;
  padding-top: 23px;
  padding-left: 60px;
  padding-right: 400px;
  padding-bottom: 29px;
}
.main-catalog li {
  width: 200px;
}
.main-catalog li:nth-child(3n+1) {
  margin-right: 40px;
}
.main-catalog li:last-child {
  margin-right: 200px;
}
.main-catalog a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;

  letter-spacing: 0;
  text-transform: none;
}
.main-catalog:focus,
.main-catalog:hover,
.plus:hover ~ .main-catalog,
.plus:focus ~ .main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
.slide-toggle {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.sliders-block {
  margin-bottom: 85px;
}
.sliders-block::before {
  position: absolute;

  content: '';

  left: 620px;
  top: 40px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}
.sliders-block .first-slider {
  background: -webkit-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: -o-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: linear-gradient(180deg, #f7e296 113px, #ffffff 113px);

  padding-left: 30px;
  padding-top: 4px;
  padding-right: 60px;
}
.first-slider .slider-img {
  padding-left: 60px;
}
.first-slider .slider-info-block {
  padding-top: 80px;
  padding-left: 128px;
}
.sliders-block .first-slider::before {
  position: absolute;

  content: '';

  right: 80px;
  top: 12px;

  width: 166px;
  height: 131px;

  background-image: url('../img/01.png');
}
.first-slider .slider-info-block td {
  word-wrap: break-word;

  padding-right: 77px;
  padding-bottom: 5px;
}
.sliders-block .second-slider {
  background: -webkit-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: -o-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: linear-gradient(180deg, #f7e296 113px, #ffffff 113px);

  padding-left: 30px;
  padding-top: 4px;
  padding-right: 60px;
  padding-left: 27px;
}
.second-slider .slider-img {
  padding-top: 10px;
  padding-left: 90px;
}
.second-slider .slider-info-block {
  padding-top: 80px;
  padding-left: 138px;
}
.second-slider .slider-info-block td {
  padding-bottom: 5px;
}
.sliders-block .second-slider::before {
  position: absolute;

  content: '';

  right: 80px;
  top: 12px;

  width: 198px;
  height: 131px;

  background-image: url('../img/02.png');
}
.third-slider .slider-img {
  padding-top: 64px;
}
.sliders-block .third-slider {
  background: -webkit-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: -o-linear-gradient(top, #f7e296 113px, #ffffff 113px);
  background: linear-gradient(180deg, #f7e296 113px, #ffffff 113px);

  padding-left: 30px;
  padding-top: 4px;
  padding-right: 60px;
}
.third-slider .slider-info-block {
  position: relative;

  z-index: 2;

  padding-top: 80px;
  padding-left: 45px;
}
.third-slider .slider-info-block td {
  padding-right: 45px;
  padding-bottom: 5px;
}
.sliders-block .third-slider::before {
  position: absolute;

  z-index: 1;

  content: '';

  right: 80px;
  top: 12px;

  width: 201px;
  height: 131px;

  background-image: url('../img/03.png');
}
.slider-info-block h2 {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 47px;
  line-height: 55px;
  font-weight: 800;
  color: #000000;

  margin: 0;
  margin-bottom: 20px;
}
.slider-info-block p {
  width: 480px;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  margin: 0;
  margin-bottom: 44px;
  padding: 0;
}
.slider-info-block a {
  max-width: 200px;

  position: relative;

  z-index: 2;

  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;

  margin-left: 41px;
  margin-bottom: 56px;
}
.slider-info-block a::before {
  position: absolute;

  z-index: -1;

  content: '';

  width: 155%;
  height: 8px;

  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-color: #f0c52e;
}
.slider-info-block a:focus::before,
.slider-info-block a:hover::before {
  height: 100%;
}
.slider-info-block a:active {
  color: rgba(0,0,0,0.3);
}
.slider-info-block .headline {
  font-family: 'gilroylight', sans-serif;
  font-size: 36px;
  color: #000000;
}
.slider-info-block .description {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #464646;
}
.slider-info-block td:last-child {
  padding-right: 0;
}
.toggle-position {
  position: absolute;

  z-index: 10;

  bottom: 158px;
  right: 80px;
}
.toggle-position label {
  display: inline-block;
  vertical-align: inherit;

  width: 12px;
  height: 12px;

  background-image: url('../img/svg/slider-button-empty.svg');

  cursor: pointer;

  margin-right: 18px;
}
.button-1:checked ~ .toggle-position label[for='btn-1'],
.button-2:checked ~ .toggle-position label[for='btn-2'],
.button-3:checked ~ .toggle-position label[for='btn-3'] {
  background-image: url('../img/svg/slider-button.svg');
}
.sliders-block .slide {
  display: none;

  min-height: 510px;
}
.button-1:checked ~ .sliders-block .first-slider,
.button-2:checked ~ .sliders-block .second-slider,
.button-3:checked ~ .sliders-block .third-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular {
  margin-bottom: 63px;
}
.popular ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 0;
}
.popular li {
  width: 160px;
  height: 160px;

  margin-bottom: 100px;
}
.popular a {
  text-decoration: none;
}
.popular a:active span,
.popular a:active g {
  opacity: 0.3;
}
.popular a::before {
  position: absolute;

  content: '';

  z-index: -1;

  width: 160px;
  height: 160px;

  background-color: #f7e296;
}
.popular a:focus::before,
.popular a:hover::before {
  background-color: #f0c52e;
}
.popular .popular-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 160px;
  height: 160px;

  text-align: center;

  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.popular svg {
  margin: auto;
}
.popular li:nth-child(2) svg {
  margin: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.popular span {
  display: block;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #000000;

  text-align: left;
}

.services-wrapper {
  width: 100%;

  background: -webkit-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);

  background: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px);

  background: linear-gradient(180deg, #ffffff 100px, #e5e5e5 100px);

  margin: 0 auto;
  margin-bottom: 95px;
}
.services-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-bottom: 67px;
}
.services-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 284px;

  border-right: 7px solid #000000;

  padding-top: 80px;
  padding-bottom: 74px;
}
.services-controls label {
  position: relative;

  z-index: 1;

  min-height: 40px;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;

  text-transform: uppercase;
  word-wrap: break-word;
  letter-spacing: 4.5px;
  text-align: center;

  cursor: pointer;

  margin-bottom: 23px;
  padding-left: 15px;
  padding-top: 3px;
  padding-right: 115px;
}

.services-controls label:last-child {
  margin-bottom: 0;
}
.services-controls label::before {
  position: absolute;

  z-index: -1;

  content: '';

  left: 0;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 160px;
  height: 8px;

  background-color: #f0c52e;
}
.services-controls label:focus::before,
.services-controls label:hover::before {
  height: 40px;
}
.services-controls label:active {
  background-color: #000000;
  color: #f7e184;
}
.services-controls label:active::before {
  background-color: transparent;
}
.toggle-1:checked ~ .services-controls .toggle1-name,
.toggle-2:checked ~ .services-controls .toggle2-name,
.toggle-3:checked ~ .services-controls .toggle3-name {
  background-color: #000000;
  color: #f7e184;
}
.toggle-1:checked ~ .services-controls .toggle1-name::before,
.toggle-2:checked ~ .services-controls .toggle2-name::before,
.toggle-3:checked ~ .services-controls .toggle3-name::before {
  background-color: transparent;
}
.services-block {
  width: 760px;

  padding-bottom: 70px;
}
.slide-info {
  width: 460px;

  padding-top: 80px;
}
.slide-info h2 {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;

  letter-spacing: 1px;

  margin: 0;
  margin-bottom: 35px;
}
.slide-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
  color: #464646;

  letter-spacing: 0.3px;

  margin: 0;
  padding: 0;
}
.service-toggle {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.services-block .slide-info {
  display: none;
}
.toggle-1:checked ~ .services-block .delivery-block,
.toggle-2:checked ~ .services-block .guarantee-block,
.toggle-3:checked ~ .services-block .credit-block {
  display: block;
}
.delivery-block::before {
  position: absolute;

  content: '';

  top: 85px;
  right: 85px;

  width: 136px;
  height: 164px;

  background-image: url('../img/svg/delivery.svg');
}
.guarantee-block::before {
  position: absolute;

  content: '';

  top: 60px;
  right: 66px;

  width: 171px;
  height: 195px;

  background-image: url('../img/svg/warranty.svg');
}
.credit-block::before {
  position: absolute;

  content: '';

  top: 61px;
  right: 89px;

  width: 156px;
  height: 188px;

  background-image: url('../img/svg/credit.svg');
}
.logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin-bottom: 83px;
}
.logotypes .logo-1 {
  width: 260px;
  height: 100px;

  background-image: url('../img/logo-1-grey.png');
  background-position: 50% 50%;
}
.logotypes .logo-2 {
  width: 260px;
  height: 100px;

  background-image: url('../img/logo-2-grey.png');
  background-position: 50% 50%;
}
.logotypes .logo-3 {
  width: 260px;
  height: 100px;

  background-image: url('../img/logo-3-grey.png');
  background-position: 50% 50%;
}
.logotypes .logo-4 {
  width: 260px;
  height: 100px;

  background-image: url('../img/logo-4-grey.png');
  background-position: 50% 50%;
}
.logotypes img {
  opacity: 0;
}
.logotype-link:focus img,
.logotype-link:hover img {
  opacity: 1;
}
.information-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-top: 69px;
  margin-bottom: 82px;
}
.information-block h2 {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 47px;
  font-weight: 800;
  color: #000000;

  margin: 0;
  margin-bottom: 47px;
}
.information-block p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
  color: #464646;

  margin: 0;
}
.information-block ul {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 39px;
  font-weight: 800;
  color: #000000;

  list-style-image: url('../img/slider-button.png');

  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  padding-left: 17px;
}
.information-block li {
  padding-left: 18px;
}
.information-block .about-block {
  width: 500px;

  padding-right: 25px;
}
.about-block p:first-of-type {
  margin-bottom: 30px;
}
.about-block p:nth-of-type(2) {
  margin-bottom: 65px;
}
.information-block .contact-block {
  width: 560px;
}
.contact-block p {
  margin-bottom: 38px;
}
.information-block a {
  position: relative;

  z-index: 2;

  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}
.about-block a {
  word-wrap: break-word;

  margin-left: 21px;
}
.information-block a::before {
  position: absolute;

  z-index: -1;

  content: '';

  width: 116%;
  height: 8px;

  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-color: #f0c52e;
}
.information-block a:focus::before,
.information-block a:hover::before {
  height: 100%;
}
.information-block a:active {
  color: rgba(0,0,0,0.3);
}
.map-block {
  margin-bottom: 61px;
}
.map-block iframe {
  border: none;
}
.contact-block a {
  margin-left: 39px;
}
.contact-block a::before {
  width: 139%;
}

.footer-wrapper {
  width: 100%;

  background-color: #464646;

  margin: 0 auto;
}
.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 65px;
  padding-bottom: 60px;
}
.main-footer p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;

  margin: 0;
}
.main-footer ul {
  list-style: none;

  margin: 0;
  padding: 0;
}
.main-footer .first-column {
  width: 370px;
}
.first-column .footer-logo {
  margin-bottom: 17px;
}
.footer-logo a:focus,
.footer-logo a:hover {
  opacity: 0.6;
}
.footer-logo a:active {
  opacity: 0.3;
}
.main-footer .second-column {
  width: 420px;

  padding-top: 65px;
}
.second-column .footer-navigation {
  margin-bottom: 58px;
}
.footer-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-navigation a {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-navigation  a:focus,
.footer-navigation  a:hover {
  opacity: 0.6;
}
.footer-navigation a:active {
  opacity: 0.3;
}
.social-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  margin: 0;
  padding: 0;
}
.social-block li {
  margin-right: 20px;
}
.social-block li:last-child {
  margin-right: 0;
}
.social-block a {
  opacity: 0.3;
}
.social-block a:focus,
.social-block a:hover {
  opacity: 1;
}
.social-block a:active {
  opacity: 0.1;
}
.third-column .footer-user-block {
  margin-bottom: 38px;
}
.main-footer .third-column {
  width: 330px;

  margin-left: auto;
}
.footer-user-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  line-height: 23px;

  margin: 0;
  padding: 0;
}
.footer-user-block li {
  position: relative;

  padding-left: 32px;
}
.footer-user-block a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  color: #ffffff;

  opacity: 0.7;

  text-decoration: none;
}
.footer-user-block .login::before {
  position: absolute;

  content: '';

  left: 5px;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 13px;
  height: 12px;

  background-image: url('../img/svg/footer-user.svg');
}
.footer-user-block .compare::before {
  position: absolute;

  content: '';

  left: 11px;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 10px;
  height: 10px;

  background-image: url('../img/svg/footer-compare.svg');
}
.footer-user-block .cart::before {
  position: absolute;

  content: '';

  left: 9px;
  top: 50%;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 12px;
  height: 12px;

  background-image: url('../img/svg/footer-cart.svg');
}
.footer-user-block a:focus,
.footer-user-block a:hover {
  opacity: 1;
}
.footer-user-block a:active {
  opacity: 0.3;
}
.third-column p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  margin-bottom: 60px;
}
.third-column .academy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.academy-logo a:focus,
.academy-logo a:hover {
  opacity: 0.6;
}
.academy-logo a:active {
  opacity: 0.3;
}


.modal {
  display: none;

  position: fixed;

  z-index: 200;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  width: 960px;
}
.write-us-popup {
  background-color: #ffffff;

  -webkit-box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.46);
      box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.46);

  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 90px;
}
.write-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.write-us-form p {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin: 0;
  margin-bottom: 37px;
}
.write-us-form p:last-of-type {
  margin-right: auto;
  margin-bottom: 0;
}
.write-us-form label {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
}
.write-us-form input,
.write-us-form textarea {
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;

  background-color: #f2f2f2;

  border: none;

  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #ebebeb;
}
.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: transparent;

  outline: 3px solid #f7e296;
}
.write-us-form input:invalid,
.write-us-form textarea:invalid {
  background-color: #f6dada;
}
.write-us-form input {
  width: 360px;
}
.write-us-form textarea {
  width: 760px;
  height: 150px;

  margin-bottom: 12px;
}
.write-us-form input[type='submit'] {
  width: 200px;

  position: relative;

  z-index: 2;

  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: transparent;

  margin-left: 41px;
  margin-bottom: 56px;
}
.write-us-form input[type='submit'] {
  cursor: pointer;

  margin: 0;
  padding: 0;
}
.write-us-form .modal-send::before  {
  position: absolute;

  z-index: -1;

  content: '';

  width: 100%;
  height: 8px;

  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-color: #f0c52e;
}
.write-us-form input[type='submit']:focus ~ .modal-send::before,
.write-us-form input[type='submit']:hover ~ .modal-send::before {
  height: 40px;
}
.write-us-form input[type='submit']:active {
  color: rgba(0,0,0,0.3);
}
.write-us-form input[type='submit']:active ~ .modal-send::before {
  height: 40px;
}
.modal-close {
  position: absolute;

  top: 20px;
  right: 15px;

  width: 55px;
  height: 55px;

  background-color: #f7e296;
  border: none;
  border-radius: 50%;

  cursor: pointer;

  padding: 0;
}
.modal-close:focus,
.modal-close:hover {
  background-color: #f0c52e;
}
.modal-close:active {
  background-color: #faedc0;
}
.modal-close::before,
.modal-close::after {
  position: absolute;
  content: '';

  top: 27px;
  left: 14px;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.map-popup {
  height: 560px;

  -webkit-box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.46);
      box-shadow: 0px 10px 42px 0px rgba(0,0,0,0.46);
}
.map-popup iframe {
  border: none;
}
.show-modal {
  display: block;
}



          /*  INNER PAGE */

.logout {
  opacity: 0.3;
}
.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  margin-bottom: 49px;
  padding-left: 60px;
  padding-right: 60px;
}
.preview h1 {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 47px;
  line-height: 47px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #000000;

  margin: 0;
  padding-top: 39px;
  padding-bottom: 28px;
}
.preview ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgba(0,0,0,0.3);
}
.breadcrumbs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  font: inherit;
  line-height: inherit;
  color: inherit;

  text-decoration: none;
}
.breadcrumbs a::after {
  content: '';

  width: 4px;
  height: 7px;

  background-image: url('../img/svg/nav-arrow.svg');

  margin-left: 15px;
  margin-right: 18px;
}
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: rgba(0,0,0,0.6);
}
.breadcrumbs a:active {
  color: rgba(0,0,0,0.1);
}
.catalog-wrapper {
  width: 1440px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0 auto;
}
.filters-titles {
  background: -webkit-gradient(linear, right top, left top, color-stop(65.9%, #ebebeb), color-stop(65.9%, #dbdbdb));
  background: -webkit-linear-gradient(right, #ebebeb 65.9%, #dbdbdb 65.9%);
  background: -o-linear-gradient(right, #ebebeb 65.9%, #dbdbdb 65.9%);
  background: linear-gradient(to left, #ebebeb 65.9%, #dbdbdb 65.9%);
}
.filter-headline {
  width: 468px;
  min-height: 70px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.filter-headline span {
  display: block;
  width: 100%;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 4px;
  text-transform: uppercase;
  word-wrap: break-word;

  margin: 0;

  padding-right: 10px;
  padding-left: 201px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sorting-overflow {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting-block {
  position: relative;

  width: 970px;
  min-height: 70px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-left: 72px;
  padding-right: 140px;
}
.sorting-block span {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 4px;
  text-transform: uppercase;
  word-wrap: break-word;

  margin-right: 48px;
}
.sorting-block a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #bababa;
  letter-spacing: 0.2px;

  text-decoration: none;

  margin-right: 27px;
}
.sorting-block a:last-of-type {
  margin-right: 0;
}
.sorting-block a:focus,
.sorting-block a:hover {
  color: #8d8d8d;
}
.sorting-block a:active {
  color: #000000;
}
.sorting-block .active-sort {
  color: #000000;
}
.arrows-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 38px;

  margin-left: auto;
}
.arrows-block a {
  margin: 0;
}
.arrows-block .arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #d3d2d2;
}
.arrows-block .arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #d3d2d2;
}
.arrows-block .arrow-up:focus,
.arrows-block .arrow-up:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #a7a5a6;

  cursor: pointer;
}
.arrows-block .arrow-up:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #231f20;

  cursor: pointer;
}
.arrows-block .arrow-down:focus,
.arrows-block .arrow-down:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #a7a5a6;

  cursor: pointer;
}
.arrows-block .arrow-down:active {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #231f20;

  cursor: pointer;
}
.arrows-block .active-arrow-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #231f20;
}
.arrows-block .active-arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #231f20;
}
.catalog-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  background: -webkit-gradient(linear, right top, left top, color-stop(65.9%, #ffffff), color-stop(65.9%, #eeeeee));

  background: -webkit-linear-gradient(right, #ffffff 65.9%, #eeeeee 65.9%);

  background: -o-linear-gradient(right, #ffffff 65.9%, #eeeeee 65.9%);

  background: linear-gradient(to left, #ffffff 65.9%, #eeeeee 65.9%);
}
.filter-block {
  width: 468px;

  padding-top: 69px;
  padding-left: 198px;
}
.filter-block fieldset {
  border: none;

  margin: 0;
  padding: 0;
}
.filter-block span {
  display: block;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;

  margin: 0;
  margin-bottom: 37px;
  padding-left: 2px;
}
.filter-block p {
  margin: 0;
}
.filter-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  list-style: none;

  margin: 0;
  padding: 0;
}
.filter-block .price {
  width: 200px;

  border-top: 2px solid #000000;

  padding-top: 14px;
  padding-bottom: 29px;
}
.range-filter {
  height: 40px;
}
.range-controls {
  position: relative;

  margin-bottom: 12px;
}
.range-controls .scale {
  width: 200px;
  height: 2px;

  background-color: #dbdbdb;
}
.range-controls .bar {
  width: 117px;
  height: 2px;
  background-color: #91c92f;
}
.range-controls .toggle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  position: absolute;

  top: 50%;
  left: 0px;

  -webkit-transform: translateY(-50%);

      -ms-transform: translateY(-50%);

          transform: translateY(-50%);

  width: 4px;
  height: 4px;

  cursor: pointer;

  border: 8px solid #ffffff;
  border-radius: 50%;

  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle:active {
  width: 5px;
  height: 5px;

  border: 9px solid #ffffff;
}
.range-controls .toggle-min {
  left: -4px;
}

.range-controls .toggle-max {
  left: 109px;
}
.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price-controls input {
  width: 70px;

  font-family: 'gilroylight', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);

  border: none;
  background-color: transparent;
}
.price-controls label {
  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroylight', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}
.filter-block .color {
  width: 200px;

  border-top: 2px solid #000000;

  margin-bottom: 39px;
  padding-top: 14px;
}
.color span {
  margin-bottom: 28px;
}
.color li {
  position: relative;

  line-height: 23px;

  margin-bottom: 14.2px;
  padding-left: 40px;
}
.color li:last-child {
  margin-bottom: 0;
}
.color label {
  display: inline-block;
  vertical-align: inherit;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;

  cursor: pointer;
}
.color label::before {
  position: absolute;

  content: '';

  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url('../img/svg/checkbox-off.svg');
}
.color input[type='checkbox']:focus ~ label::before {
  opacity: 0.6;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.color label:focus::before,
.color label:hover::before {
  opacity: 0.6;
}
.color label:active::before {
  opacity: 1;
}
.color input[type='checkbox'] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.color input[type='checkbox']:checked ~ label::before {
  width: 27px;
  background-image: url('../img/svg/checkbox-on.svg');
}
.filter-block .bluetooth {
  width: 200px;

  border-top: 2px solid #000000;

  margin-bottom: 39px;
  padding-top: 14px;
}
.bluetooth span {
  margin-bottom: 26px;
}
.bluetooth li {
  position: relative;

  line-height: 24px;

  margin-bottom: 15px;
  padding-left: 40px;
}
.bluetooth li:last-child {
  margin-bottom: 0;
}
.bluetooth label {
  display: inline-block;
  vertical-align: inherit;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;

  cursor: pointer;
}
.bluetooth label::before {
  position: absolute;

  content: '';

  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url('../img/svg/radio-off.svg');
}
.bluetooth label:hover::before {
  opacity: 0.6;
}
.bluetooth label:active::before {
  opacity: 1;
}
.bluetooth input[type='radio'] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.bluetooth input[type='radio']:checked ~ label::before {
  background-image: url('../img/svg/radio-on.svg');
}
.filter-block button[type='submit'] {
  width: 200px;

  position: relative;

  z-index: 2;

  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000000;

  border: none;
  background-color: transparent;
  cursor: pointer;

  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
}
.filter-block button[type='submit']::before {
  position: absolute;

  z-index: -1;

  content: '';

  width: 100%;
  height: 8px;

  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-color: #f0c52e;
}
.filter-block button[type='submit']:focus::before,
.filter-block button[type='submit']:hover::before {
  height: 40px;
}
.filter-block button[type='submit']:active {
  color: rgba(0,0,0,0.3);
}


.filter-results {
  width: 955px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding-left: 71px;
  padding-top: 69px;
  padding-right: 123px;
  padding-bottom: 73px;
}
.filter-results .product-block {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 360px;

  margin-bottom: 53px;
}
.filter-results article:last-of-type {
  margin-bottom: 41px;
}
.product-block .new {
  display: none;
  position: absolute;

  z-index: 1;

  content: '';

  width: 60px;
  height: 60px;

  top: 27px;
  right: 26px;

  border: 2px solid #d7d7d7;
  border-radius: 50%;
}
.product-block .new-active {
  display: block;
}
.new span {
  position: absolute;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  display: block;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 800;
  color: #cfcfcf;

  text-transform: uppercase;
}
.product-block .product-img {
  position: relative;
  width: 360px;
  height: 380px;

  margin-bottom: 36px;
  padding-left: 2px;
}
.product-block .basket {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: absolute;

  z-index: 5;

  content: '';

  top: 0;
  left: 0;

  width: 360px;
  height: 380px;

  cursor: pointer;

  padding-top: 50px;
}
.image-link:focus ~ .basket,
.image-link:hover ~ .basket,
.basket:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(238, 238, 238, 0.7);
}
.product-block .basket:hover > .product-block .basket-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-block .basket-add {
  width: 200px;

  position: relative;

  z-index: 2;

  display: inline-block;
  vertical-align: inherit;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  color: #000000;

  border: none;
  background-color: transparent;
  cursor: pointer;

  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;

  margin-bottom: 40px;
}
.product-block .basket-add::before {
  position: absolute;

  z-index: -1;

  content: '';

  width: 100%;
  height: 8px;

  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  background-color: #f0c52e;
}
.product-block .basket-add:focus::before,
.product-block .basket-add:hover::before {
  height: 100%;
}
.product-block .basket-add:active {
  color: rgba(0,0,0,0.3);
}
.product-block .compare-add {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
}
.product-block .compare-add:focus,
.product-block .compare-add:hover {
  color: rgba(0, 0, 0, 1);
}
.product-block .compare-add:active {
  color: rgba(0, 0, 0, 0.2);
}
.product-img .image-link {
  display: block;

  width: 360px;
  height: 380px;
}
.product-img .image-link:focus,
.product-img .image-link:hover {
  opacity: 0.6;
}
.product-block .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-info h2 {
  width: 260px;

  font-family: 'gilroyextrabold', sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.3px;
  color: #000000;

  margin: 0;
}

.product-info a {
  text-decoration: none;
  color: #000000;
}
.product-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  width: 100px;

  font-family: 'gilroylight', sans-serif;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: #464646;
}
.filter-results .pagination-block {
  width: 100%;
  min-height: 70px;

  background-color: #ebebeb;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination-block a {
  font-family: 'gilroyextrabold', sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3.3px;
  font-weight: 800;
  color: #000000;

  text-decoration: none;
  text-transform: uppercase;
}
.pagination-block .direction-link {
  width: 130px;
  display: inline-block;
  vertical-align: inherit;

  margin-top: auto;
  margin-bottom: auto;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 32px;
  padding-right: 26px;
}
.pagination-block .direction-link:focus,
.pagination-block .direction-link:hover {
  background-color: #d9d9d9;
}
.pagination-block .direction-link:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}
.pagination-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 160px;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pagination-block li {
  line-height: 16px;

  margin-right: 27px;
}
.pagination-block li:nth-child(3n+3) {
  margin-right: 0;
}
.pages .active-page {
  color: rgba(0, 0, 0, 1);
}
.pages a {
  color: rgba(0, 0, 0, 0.3);
}
.pages a:focus,
.pages a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.pages a:active {
  color: rgba(0, 0, 0, 1);
}
